<body>
    <h1 id="test-title"> HELLO</h1>
    <div class="customer-form">
        <form action="" id="customer-form" >
            <label class="form-label" for="customer-ID"> Customer ID number </label>
            <input required type = "number" class="form" id="customer-ID">
        </form>
    </div>
    <div id="REST-response">
    </div>
    <div>
    </div id = "GraphQL-response">
    <%# ____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ %>
    </div>


</body>
