#test-title{
    font-weight: bold;
    font-size: 10px;
}

.customer-form{
    position: relative;
    width: 200px;
}

#REST-response{
    position: relative;
    width: 200px;
}
#GraphQL-response{
    position: absolute;
    float: left;
    /* left: 210px; */
    margin: 20px;
    width: 70%;
}